<div class="flex min-h-[90vh] mt-5">
  <div class="h-full w-[40%] p-3 form-search-normal-layout">
    <form nz-form [formGroup]="formGroup" nzLayout="vertical" class="w-[80%]">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input nz-input formControlName="search" placeholder="{{ 'common.search' | transloco }}" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="flex gap-2">
            <nz-select
              (blur)="onBlur('fileds')"
              formControlName="fileds"
              nzMode="multiple"
              nzPlaceHolder="{{ 'screens.auth.filedStudy' | transloco }}"
            >
              <nz-option *ngFor="let filed of fileds" [nzValue]="filed._id" [nzLabel]="filed.name"></nz-option>
            </nz-select>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="w-[30%]">
    <div *ngFor="let class of classes" class="mb-5">
      <app-class-card [desiredCourse]="class"></app-class-card>
    </div>
  </div>
  <div class="w-[40%] p-3"></div>
</div>
