<div id="auth">
  <div nz-row class="container">
    <nz-card nz-col nzLg="8" [nzSpan]="24" class="bg-white py-2 px-4 sm:py-4 sm:px-7 xl:py-7 xl:px-7 rounded-lg">
      <div class="flex justify-center default-title">{{ 'menubar.changePassword' | transloco }}</div>
      <form nz-form [formGroup]="formGroup" nzLayout="vertical" class="mt-5" (submit)="onSubmit($event)">
        <nz-steps [nzCurrent]="currentStep" nzSize="small" class="mt-5 lg:mt-6">
          <nz-step *ngFor="let step of steps" [nzTitle]="step"></nz-step>
        </nz-steps>

        <div class="flex mt-2">
          <app-button
            ngClass="font-semibold flex justify-center"
            height="40px"
            label="common.backward"
            (click)="onBackStep()"
          ></app-button>
          <app-button
            ngClass="font-semibold flex justify-center ml-2"
            height="40px"
            label="common.nextStep"
            (click)="onNextStep()"
          ></app-button>
        </div>

        <ng-container *ngIf="currentStep === 0">
          <nz-form-item class="mt-5 lg:mt-12">
            <nz-form-label class="p-0" [nzSpan]="24" nzFor="phone">{{ 'input.label.phone' | transloco }}</nz-form-label>
            <nz-form-control [nzSpan]="24" [nzErrorTip]="error">
              <nz-input-group>
                <div class="flex">
                  <input
                    class="w-[80%]"
                    id="phone"
                    autofocus
                    nz-input
                    type="phone"
                    formControlName="phone"
                    (blur)="onBlur('phone')"
                    placeholder="{{ 'input.placeholder.phone' | transloco }}"
                  />
                  <app-button
                    ngClass="font-semibold flex justify-center ml-2"
                    height="40px"
                    label="common.sendOtp"
                    (click)="sendOtp()"
                  ></app-button>
                </div>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mt-2" *ngIf="isShowOtp">
            <nz-form-control [nzSpan]="24" [nzErrorTip]="error">
              <nz-input-group>
                <input
                  class="w-[73%]"
                  id="otp"
                  autofocus
                  nz-input
                  type="phone"
                  formControlName="otp"
                  (blur)="onBlur('otp')"
                  placeholder="{{ 'input.placeholder.otp' | transloco }}"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </ng-container>

        <ng-container *ngIf="currentStep === steps.length - 1">
          <nz-form-item class="mt-5 lg:mt-12">
            <nz-form-label class="p-0" [nzSpan]="24" nzFor="password">{{
              'screens.auth.password' | transloco
            }}</nz-form-label>
            <nz-form-control [nzSpan]="24" [nzErrorTip]="error">
              <nz-input-group [nzSuffix]="passwordTemplate">
                <input
                  id="password"
                  autofocus
                  nz-input
                  autocomplete="password"
                  [maxLength]="PASSWORD_MAX_LENGTH"
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="password"
                  (blur)="onBlur('password')"
                  placeholder="{{ 'form.placeholder.password' | transloco }}"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mt-5 lg:mt-12">
            <nz-form-label class="p-0" [nzSpan]="24" nzFor="confirmPassword">{{
              'screens.auth.confirmPassword' | transloco
            }}</nz-form-label>
            <nz-form-control [nzSpan]="24" [nzErrorTip]="error">
              <nz-input-group [nzSuffix]="confirmPasswordTemplate">
                <input
                  id="confirmPassword"
                  autofocus
                  nz-input
                  autocomplete="confirmPassword"
                  [maxLength]="PASSWORD_MAX_LENGTH"
                  [type]="confirmPasswordVisible ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  (blur)="onBlur('confirmPassword')"
                  placeholder="{{ 'form.placeholder.confirmPassword' | transloco }}"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </ng-container>

        <div class="">
          <app-button
            *ngIf="currentStep === steps.length - 1"
            ngClass="font-semibold flex justify-center"
            height="40px"
            width="100%"
            btnType="submit"
            type="primary"
            label="menubar.changePassword"
          ></app-button>
        </div>
      </form>
    </nz-card>
  </div>
</div>

<ng-template #error let-control>
  <app-validation-error [control]="control"></app-validation-error>
</ng-template>

<ng-template #passwordTemplate>
  <span
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
    tabindex="1"
    (keyup.enter)="passwordVisible = !passwordVisible"
  ></span>
</ng-template>
<ng-template #confirmPasswordTemplate>
  <span
    nz-icon
    [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="confirmPasswordVisible = !confirmPasswordVisible"
    tabindex="2"
    (keyup.enter)="confirmPasswordVisible = !confirmPasswordVisible"
  ></span>
</ng-template>
