@import '../../../../../styles/variables';

#auth {
  min-height: 100vh;
  height: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    object-fit: contain;
    font-weight: 700;
    color: #4745a1;

    .logo-name {
      background: $logo-color-webkit;
      background: $logo-color;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }

    .logo-image {
      height: $large-logo-image-height;
      width: $large-logo-image-width;
    }
  }

  .auth-title {
    font-size: $large-logo-font;
  }

  .auth-sub-title {
    font-size: $default-font-title;
  }
}
