<p class="large-text">{{ 'common.table.header.registrationTime' | transloco }}: 2024-06-02</p>
<p class="large-text mt-2">{{ 'common.table.header.phone' | transloco }}: 03214343544</p>
<p class="large-text mt-2">{{ 'screens.users.avatar' | transloco }}: <span class="text-link">Link</span></p>
<p class="large-text mt-2">CV: <span class="text-link">View CV</span></p>
<p class="large-text mt-2">Double-sided CCCD: <span class="text-link">Link</span></p>
<div class="flex gap-3 justify-end mt-5">
  <button nz-button class="bg-red-600 text-white cursor-pointer">{{ 'common.reject' | transloco }}</button>
  <button nz-button class="bg-green-600 text-white cursor-pointer">{{ 'common.accept' | transloco }}</button>
</div>
