<div id="auth">
  <div nz-row class="container">
    <nz-card nz-col nzLg="8" [nzSpan]="24" class="bg-white py-2 px-4 sm:py-4 sm:px-7 xl:py-7 xl:px-7 rounded-lg">
      <form nz-form [formGroup]="formGroup" nzLayout="horizontal" (submit)="onSubmit($event)">
        <div class="logo-container">
          <img class="logo-image" [src]="logo.images" [alt]="logo.name" />
          <span class="pl-3 logo-name auth-title">{{ logo.name }}</span>
        </div>
        <p class="mb-0 font-bold auth-title mt-5 lg:mt-6" nz-typography>
          {{ 'common.changePassword' | transloco: { sign: '!' } }}
        </p>
        <p class="mt-2 leading-6 auth-sub-title" nz-typography>
          {{ 'screens.auth.changePasswordMessage' | transloco }}
        </p>
        <nz-form-item class="mt-5 lg:mt-12">
          <nz-form-label class="p-0" [nzSpan]="24" nzFor="newPassword">{{
            'screens.auth.newPassword' | transloco
          }}</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzErrorTip]="error">
            <nz-input-group [nzSuffix]="newPasswordTemplate">
              <input
                id="newPassword"
                autofocus
                nz-input
                autocomplete="newPassword"
                [maxLength]="PASSWORD_MAX_LENGTH"
                [type]="newPasswordVisible ? 'text' : 'password'"
                formControlName="newPassword"
                (blur)="onBlur('newPassword')"
                placeholder="{{ 'form.placeholder.newPassword' | transloco }}"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="p-0" [nzSpan]="24" nzFor="confirmNewPassword">{{
            'screens.auth.confirmNewPassword' | transloco
          }}</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzErrorTip]="error">
            <nz-input-group [nzSuffix]="confirmNewPasswordTemplate">
              <input
                id="confirmNewPassword"
                nz-input
                autocomplete="confirmNewPassword"
                [maxLength]="PASSWORD_MAX_LENGTH"
                [type]="confirmNewPasswordVisible ? 'text' : 'password'"
                formControlName="confirmNewPassword"
                (blur)="onBlur('confirmNewPassword')"
                placeholder="{{ 'form.placeholder.confirmNewPassword' | transloco }}"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div>
          <app-button
            ngClass="font-semibold flex justify-center"
            height="40px"
            width="100%"
            type="primary"
            label="common.changePassword"
            btnType="submit"
          ></app-button>
        </div>
      </form>
      <ng-template #newPasswordTemplate>
        <span
          nz-icon
          [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="newPasswordVisible = !newPasswordVisible"
          tabindex="1"
          (keyup.enter)="newPasswordVisible = !newPasswordVisible"
        ></span>
      </ng-template>
      <ng-template #confirmNewPasswordTemplate>
        <span
          nz-icon
          [nzType]="confirmNewPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="confirmNewPasswordVisible = !confirmNewPasswordVisible"
          tabindex="2"
          (keyup.enter)="confirmNewPasswordVisible = !confirmNewPasswordVisible"
        ></span>
      </ng-template>
      <ng-template #error let-control>
        <app-validation-error [control]="control"></app-validation-error>
      </ng-template>
    </nz-card>
  </div>
</div>
