/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.bank-card {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: start;
  justify-content: start;
}

.bank-card .container {
  margin: 0;
  position: relative;
  background-image: url('http://localhost:3001/images/bank-card.png');
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.bank-card header,
.bank-card .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bank-card .logo img {
  width: 48px;
  margin-right: 10px;
}
.bank-card h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.bank-card header .chip {
  width: 60px;
}
.bank-card h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
.bank-card h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}
.bank-card h5.name {
  margin-top: 20px;
}
.bank-card .container .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
