@import '../../../../../styles/variables';

nz-header {
  background: $header-background;
  padding: 1rem;
  margin-right: 8px;

  .container {
    background-color: $white;
    box-shadow: $box-shadow;

    .search-btn {
      .short-cut {
        .icon {
          font-size: 0.5rem;
          margin-right: 2px;
        }
      }

      .inner {
        padding: 0 0.5rem;
        height: 80%;
        border-radius: 12px;
        transition: all 0.15s ease-in;
      }

      &:hover {
        .inner {
          background-color: $hover-background;
        }
      }
    }
  }
}
