<div class="flex justify-center">
  <nz-card class="w-[600px] h-full" [nzBordered]="true">
    <div class="flex justify-center default-title">{{ 'menubar.changePassword' | transloco }}</div>
    <form nz-form [formGroup]="formGroup" (submit)="onSubmit($event)" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label class="text-left" nzFor="oldPassword">{{
          'screens.auth.oldPassword' | transloco
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group [nzSuffix]="oldPasswordTemplate">
            <input
              [autofocus]="true"
              [type]="oldPasswordVisible ? 'text' : 'password'"
              nz-input
              (blur)="onBlur('oldPassword')"
              formControlName="oldPassword"
              autocomplete="oldPassword"
              placeholder="{{ 'form.placeholder.password' | transloco }}"
              [maxLength]="PASSWORD_MAX_LENGTH"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="text-left" nzFor="newPassword">{{
          'screens.auth.newPassword' | transloco
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group [nzSuffix]="newPasswordTemplate">
            <input
              [type]="newPasswordVisible ? 'text' : 'password'"
              nz-input
              (blur)="onBlur('newPassword')"
              formControlName="newPassword"
              autocomplete="newPassword"
              placeholder="{{ 'form.placeholder.newPassword' | transloco }}"
              [maxLength]="PASSWORD_MAX_LENGTH"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="text-left" nzFor="confirmNewPassword">{{
          'screens.auth.confirmNewPassword' | transloco
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="error">
          <nz-input-group [nzSuffix]="confirmNewPasswordTemplate">
            <input
              type="text"
              [type]="confirmNewPasswordVisible ? 'text' : 'password'"
              nz-input
              (blur)="onBlur('confirmNewPassword')"
              autocomplete="confirmNewPassword"
              formControlName="confirmNewPassword"
              placeholder="{{ 'form.placeholder.confirmNewPassword' | transloco }}"
              [maxLength]="PASSWORD_MAX_LENGTH"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <app-button btnType="submit" type="primary" label="button.confirmChange" ngClass="mt-4"></app-button>

      <ng-template #oldPasswordTemplate>
        <span
          nz-icon
          [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="oldPasswordVisible = !oldPasswordVisible"
          tabindex="0"
          (keyup.enter)="oldPasswordVisible = !oldPasswordVisible"
        ></span>
      </ng-template>
      <ng-template #newPasswordTemplate>
        <span
          nz-icon
          [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="newPasswordVisible = !newPasswordVisible"
          tabindex="1"
          (keyup.enter)="newPasswordVisible = !newPasswordVisible"
        ></span>
      </ng-template>
      <ng-template #confirmNewPasswordTemplate>
        <span
          nz-icon
          [nzType]="confirmNewPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="confirmNewPasswordVisible = !confirmNewPasswordVisible"
          tabindex="2"
          (keyup.enter)="confirmNewPasswordVisible = !confirmNewPasswordVisible"
        ></span>
      </ng-template>

      <ng-template #error let-control>
        <app-validation-error [control]="control"></app-validation-error>
      </ng-template>
    </form>
  </nz-card>
</div>

<ng-template #error let-control>
  <app-validation-error [control]="control"></app-validation-error>
</ng-template>
